* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif
}

body {
  margin: 0;
  background-color: black;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: lightseagreen;
  border-radius: 20px;
}

label, input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  font-size: 24px;
}

label {
  font-weight: bold;
}

ol {
  list-style: decimal;
  margin: 1rem 0;
  padding: 2rem;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

}
button{
  background-color: aquamarine;
  font-size: 20px;
  border-radius: 20px;
  width: 20%;
}
button:hover{
  background-color: transparent;
}